.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Review stars css */
.star-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.star-container {
  position: relative;
  display: inline-block;
}

.star-image {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
}

.star-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust the color as needed */
  font-weight: bold;
  font-size: 18px; /* Adjust the size as needed */
  pointer-events: none; /* Makes sure the text doesn't interfere with button clicks */
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
